--2014-12-10 00:58:23--  https://www.gitignore.io/api/node,osx,windows,linux
Resolving www.gitignore.io... 104.28.0.76, 104.28.1.76, 2400:cb00:2048:1::681c:14c, ...
Connecting to www.gitignore.io|104.28.0.76|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: 'node,osx,windows,linux'

     0K .                                                      35.8M=0s

2014-12-10 00:58:23 (35.8 MB/s) - 'node,osx,windows,linux' saved [1163]

